<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
<meta charset="{{ site.encoding }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{ page.author | default: site.author | escape }}">

<link rel="stylesheet" href="{{ '/assets/css/frame.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<script src="{{ '/assets/js/expand.js' | relative_url }}"></script>