<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
<meta charset="{{ site.encoding }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{ page.author | default: site.author | escape }}">

<link rel="stylesheet" href="{{ '/assets/css/frame.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="{{ '/assets/js/expand.js' | relative_url }}"></script>
<script src="{{ '/assets/js/dark.js' | relative_url }}"></script>

<style>
    /* Hide both by default */
    #layout-small, #layout-large{
        display: none;
    }
    /* Show the small header when screen width is less than 32em */
    @media (max-width: 32em) {
        #layout-small {
            display: block;
        }
    }
    /* Show the large header when screen width is greater than or equal to 32em */
    @media (min-width: 32em) {
        #layout-large {
            display: flex;
        }
    }
</style>