.item_container {
    width: 97%;
    margin-left: 10px;
    padding-left: 10px; 
    margin-bottom: 20px; /* spacing between items */
    
    border: 0px solid #ccc;
    border-radius: 5px;
}

.item_container::after {
    display: block;
    border-bottom: 1px solid #282c37;
    margin-top: 10px;
}

.item_title {
    cursor: pointer; 
    font-size: 18px; 
    margin-left: -20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    position: relative;
    text-align: justify;
}
.item_title .text {
    display: block;
    text-align: justify-all;
}
.item_title:hover .text {
    text-decoration: underline;
}

.item_title .arrow {
    margin-left: 6px;
    margin-right: 22px;
    position: relative;
}

.item_title .arrow::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('/assets/images/expand.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s;
}

.item_title.active .arrow::before {
    background-image: url('/assets/images/collapse.png');
}

.item_content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out, padding 0.5s ease-out;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 27px;
    margin-right: 20px;
    text-align: justify;
}

.item_content.expanded {
    max-height: 1000px; /* Large enough to handle content */
}
