<!DOCTYPE html>
  {% include head.html %}

<!-- Small Screen Header -->
<header id="header-large" class="header-container">
  <a href="{{ "/" | relative_url }}" class="title">{{ site.title | escape }}</a> 
  <nav>
    {% include menu.html %}
  </nav>  
</header>

<!-- Large Screen Header -->
<header id="header-small" class="header-container">
  <a href="{{ "/" | relative_url }}" class="title-small">{{ site.title | escape }}</a>
  <nav class="nav-small">
    {% include menu.html %}
  </nav>
</header>


<article>
  {{ content }}
</article>

</html>
